body {
  margin: 0;
  font-family: "Nunito";
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  width: auto;
  height: 100vh;
  justify-content: end;
}

.container-right {
  background-color: white;
  min-width: 260px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.banner {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-size: 100% 100%;
  animation: fotos 10s infinite;
}
.uno {
  font-size: 40px;
  text-align: center;
  margin: 35px;
  margin-bottom: 0;
  font-weight: bold;
}
.dos {
  font-size: 25px;
  font-weight: bold;
}
.form {
  background-color: #f1ecec;
  width: 300px;
  height: max-content;
  min-width: auto;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 10px;
  justify-content: space-between;
  padding-bottom: 0px;
}
#response {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px;
}

input {
  margin: 10px;
  height: 25px;
  max-width: max-content;
}

.title-form {
  margin-bottom: 20px;
}

.error-name,
.error-depto,
.error-modulo,
.error-card {
  color: red;
  font-size: 15px;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
}

#labelName {
  color: black;
}

#labelCard {
  color: black;
  font-weight: bolder;
}

@keyframes fotos {
  0%,
  30% {
    background-image: url(condominio.jpg);
  }
  35%,
  65% {
    background-image: url(condominio2.jpeg);
  }
  70%,
  100% {
    background-image: url(condominio3.jpeg);
  }
}

@media (max-width: 800px) {
  .container-right {
    position: absolute;
    padding-bottom: 20px;
  }
  main {
    align-items: center;
    justify-content: center;
  }
  .uno {
    font-size: 25px;
  }
  .dos {
    font-size: 18px;
  }
  .form {
    width: 250px;
    height: 300px;
    padding-bottom: 30px;
  }
  #response {
    gap: 13px;
  }
}
@media (max-width: 600px) {
  .form {
    width: 200px;
    height: 250px;
    padding-bottom: 70px;
  }
  .uno {
    font-size: 25px;
  }
  .dos {
    font-size: 15px;
  }
  #response {
    gap: 20px;
  }
  .error-name,
  .error-depto,
  .error-modulo,
  .error-card {
    font-size: 12px;
  }
}
